*{
    margin: 0;
    padding: 0;
}


/*______________________ Ventana principal___________________*/

body{
    background-color: #f00;
    padding: 10px;
}

.main {
    margin-top: 30px;
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

h1{
    font-family: 'Arial';
}


/*_______________________ Barra de búsqueda y botón_______________*/

.barSearch{
    font-family: 'Arial';
    text-align: center;
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border-color: #f00;
}

.btnSearch{
    font-family: 'Arial';
    margin-top: 20px;
    text-align: center;
    width: 70px;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border-color: #f00;
}

/*_______________________ Imagen _____________________________*/

.img{
    width: 100%;
    text-align: center;
}